<div class="container">
  <h1>My flats</h1>
  <% @flats.each do |flat| %>
  <div class="card-list">
    <div class="flat-photo">
      <%= cl_image_tag(flat.photo, height: 250, width: 350) %>
    </div>
    <div class="flat-content">
      <h4><%= flat.title %></h4>
      <p><%= flat.city %></p>
      <p><%= flat.description%></p>
      <p> <%= flat.price %> $ |
        <span> <%= flat.capacity %> persons</span>
      </p>
      <%= link_to "book", new_flat_booking_path(flat.id) %>
    </div>
  </div>
  <% end %>
</div>
