
<h1>Your Bookings</h1>

<div class="container">
  <% @bookings.each do |booking| %>
  <div class="card-list">
    <div class="flat-photo">
      <%= cl_image_tag(booking.flat.photo, height: 250, width: 350) %>
    </div>
    <div class="flat-content">
      <h4><%= booking.flat.title %></h4>
      <p><%= booking.flat.city %></p>
      <p> <%= booking.start_date %>  |
      <span> <%= booking.end_date %></span>
      </p>
      <p> <%= booking.flat.price %> $ |
      <span> <%= booking.flat.capacity %> persons</span>
      </p>
    </div>
  </div>
  <% end %>
</div>
