<% if user_signed_in? %>
<div class="container">
  <div class="flexbox">
    <div id="flat-search" class="flex-item-">
      <h2>Want to discover a new city ?</h2>
      <form action="flats/list" method="get" class="">
        <div class="form-group">
          <label for="address">address</label>
          <input type="text" class="form-control" name="address" placeholder="Write where you want to stay here">
        </div>
        <div class="form-group">
          <label for="Capacity">Number of Travelers</label>
          <input type="integer" class="form-control" name="capacity" placeholder="How many are you?">
        </div>
        <div class="">
          <button type="submit" class="btn btn-primary btn-lg">Search a Flat</button>
        </div>
      </form>
    </div>
    <div id="flat-create" class="flex-item-">
      <h2>Want to rent your own apartment ?</h2>
      <%= link_to new_flat_path, class: "btn btn-primary btn-lg" do %>
        <%= t(".create", default: "Create a Flat")%>
      <% end %>
    </div>
  </div>
</div>
<% else %>
<div class="container">
  <h1>Explorer AirBnB</h1>
  <h2>Maisons à la une à Los Angeles</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 card ">
      <%= image_tag "malibu1.jpg", alt: "alttext", class: "img-responsive" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 card">
      <%= image_tag "malibu2.jpg", alt: "alttext", class: "img-responsive" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 card">
      <%= image_tag "malibu3.jpg", alt: "alttext", class: "img-responsive" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 card ">
      <%= image_tag "malibu4.jpg", alt: "alttext", class: "img-responsive" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 card">
      <%= image_tag "malibu5.jpg", alt: "alttext", class: "img-responsive" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 card">
      <%= image_tag "santamonicahouse.jpg", alt: "alttext", class: "img-responsive" %>
    </div>
  </div>
</div>
<% end %>
